.nombre{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.1em;
}
.grande{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.5em;
}
.extra{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 2em;
}